<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Flavoriesta</title>
  <meta name="description" content="Katalog restaurant di sekitar anda">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
  <link rel="icon" href="./favicon.png">
  <link rel="manifest" href="./app.webmanifest">
  <meta name="theme-color" content="#BB2A5C"/>
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
</head>

<body>
  <a href="#mainContent" class="skip-link">Menuju ke Konten</a>
  <header>
    <app-bar></app-bar>
    <app-jumbotron></app-jumbotron>
  </header>
  <main id="mainContent">
  </main>
  <footer>
    <app-footer></app-footer>
  </footer>
</body>

</html>