@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

/* 
Color in this file:
#ca4e79
#bf1722
#f7dfff
#ffc18e
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Lora', sans-serif;
}

body {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

a, button{
  min-width: 44px;
  min-height: 44px;
  text-decoration: none;
}

.skip-link {
  position: absolute;
  top: -60px;
  left: 0;
  padding: 8px;
  background-color: #bf1722;
  color: white;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

app-bar{
  padding: 0 16px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  transition: background-color 0.3s;
}

app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 32px;
  padding: 8px;
  cursor: pointer;
  color: #ca4e79;
  font-weight: 700;
  line-height: 58px;
}


app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}

app-bar .app-bar__brand h1 a {
  color: #ca4e79;
  text-transform: uppercase;
  font-size: 26px;
  user-select: none;
}

app-bar .app-bar__navigation {
  position: absolute;
  top: 74px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: white;
  overflow: hidden;
}

app-bar .app-bar__navigation.open,
#close-menu {
  left: 0;
}

app-bar .app-bar__navigation ul li {
  list-style-type: none;
}

app-bar .app-bar__navigation ul li a {
  display: inline-block;
  color: #ca4e79;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
}

app-jumbotron {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50vh;
  vertical-align: middle;
  background-position: center;
  background-color: #000;
}

app-jumbotron img {
  top: 0;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  position: absolute;
  opacity: .7;
}

app-jumbotron .inner {
  text-align: center;
  margin: 0 auto;
  color: #ffc18e;
  z-index: 2;
}

app-jumbotron .title {
  font-weight: 600;
  font-size: 32px;
}

app-jumbotron .subtitle {
  margin-top: 10px;
}

main {
  padding: 32px;
  flex: 1;
}

#mainContent {
  margin: 0 auto;
  min-height: 100%;
}

#mainContent .section__heading {
  text-align: center;
  margin-bottom: 1rem;
  color: #ca4e79;
  text-decoration: underline;
  line-height: 44px;
}

.restaurants__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.restaurant__item {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 16px;
}

.item__heading {
  display: inline-block;
  width: 100%;
  max-height: 200px;
}

.item__heading .label__text {
  background-color: #ffc18e;
  max-width: fit-content;
  margin: 1rem;
  padding: 0.5rem;
  position: absolute;
  color: #ca4e79;
  font-weight: 700;
}

.item__heading .label__text span {
  background-color: #ca4e79;
  padding: .5rem;
  position: absolute;
  color: #ffc18e;
  top: 100%;
  left: 0;
  gap: 1rem;
}

.item__heading img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.item__overview {
  padding: 1rem;
}

.item__overview .item__desc {
  text-align: justify;
  color: #ca4e79;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.restaurant__details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.restaurant__details h3{
  color: #ca4e79;
  text-align: center;
  text-decoration: underline;
  margin-bottom: .5rem;
}

.restaurant__details h4{
  color: #bf1722;
}


.restaurant__info i{
  color: #ffc18e;
}

.restaurant__name {
  color:
}

.restaurant__poster {
  max-width: 100%;
  object-fit: cover;
}

.restaurant__menus {
  display: grid;
}

.menu-category {
  border: 1px solid #ccc;
  margin: 1rem auto;
  width: 100%;
}

.menu-category h4{
  margin: 1rem;
  text-align: center;
  color: #513252;
}

.menu-list {
  margin: .7rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
}

.menu-list li {
  margin: 5px 0;
}

.restaurant__overview {
  /* border: 1px solid #ccc; */
}

.restaurant__overview p{
  margin: 1rem;
  /* max-height: 150px;
  overflow-y: scroll; */
  text-align: justify;
}

.restaurant__reviews{
  width: 100%;
  margin: 1rem auto;
}

.reviews__list{
  margin: auto;
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  border: 1px solid #ccc;
}

.review {
  margin: auto 1rem;
  margin-bottom: 1rem;
}

.review__heading {
  display: flex;
  width: 100%;
  align-items: center;
  font-weight: bold;
}

.review__heading p {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.review__heading .date {
  color: #888;
  font-size: 0.9em;
}

.review__form {
  display: none;
  margin: auto 1rem;
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.review__form label {
  font-weight: bold;
}

.review__form input[type="text"],
.review__form textarea {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.review__form textarea {
  height: 100px;
}

.review__form button {
  background-color: #ca4e79;
  font-size: 18px;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.review__form button:hover {
  background-color: #0056a3;
}

#add-review-button {
  margin: 1rem;
  background-color: #ca4e79;
  font-size: 18px;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#add-review-button:hover {
  background-color: #0056a3;
}

.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: white;
  cursor: pointer;
}

#loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  text-align: center;
  margin: auto;
}

.loader__message {
  color: white;
  margin: 50vh auto;
  font-size: 40px;

}

.loader__message p {
  margin-top: 10px;
}

.error-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 25vh;
  margin: auto 1rem;
}

.error-page__title {
  font-size: 24px;
  color: #ff0000;
}

.error-page__message {
  margin-top: 16px;
  font-size: 18px;
}


footer {
  width: 100%;
  padding: 2rem;
  background-color: #513252;
  letter-spacing: 1.5px;
  text-align: center;
}
app-footer p {
  color: #ffc18e;
}

app-footer a{
  color: #ca4e79;
}

